In [1]:
import pandas as pd
import numpy as np

In [2]:
usd_jpy = pd.read_csv('USD_JPY.csv')

In [5]:
usd_jpy.head()

        Date   Close    Open    High     Low Change %
0 2019-07-26  108.67  108.64  108.83  108.56    0.03%
1 2019-07-25  108.64  108.19  108.77  108.03    0.42%
2 2019-07-24  108.19  108.22  108.28  107.94   -0.03%
3 2019-07-23  108.22  107.84  108.30  107.83    0.32%
4 2019-07-22  107.88  107.80  108.08  107.70    0.05%

In [8]:
usd_jpy.Date = pd.to_datetime(usd_jpy.Date, format='%Y-%m-%d %H:%M:%S')

In [16]:
import datetime
usd_jpy.Date = usd_jpy.Date.apply(lambda x: str(datetime.datetime.strptime(str(x),"%Y-%m-%d %H:%M:%S")))

In [22]:
usd_jpy['Volume'] = 150

In [23]:
usd_jpy.rename({'Date': "Date Time"}, inplace=True)

In [24]:
usd_jpy.to_csv('USD_JPY.csv', index=False)